@model IEnumerable<Contact>
@{
    ViewData["Title"] = "Contact Phone";
}

<h1>CONTACT LIST</h1>
<br />

<form class="row g-3" asp-action="index">

    <div class="col-auto">
        <label class="control-label"><img src="../../img/lupa.png" width="45" height="45" /></label>
    </div>
    <div class="col-auto">
        <label class="visually-hidden"></label>
        <input type="text" class="form-control" placeholder="Nombre" name="nameContact" value="@ViewBag.nameContact">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Buscar</button>
    </div>
</form>

<table class="table">
    <thead class="table-dark">
        <tr>

            <th>Name</th>
            <th>Tel</th>
            <th>Cel</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="reordenable">
        @foreach (var contact in Model)
        {
            <tr>

                <td>
                    @contact.Name
                </td>
                <td>
                    @contact.Tel
                </td>
                <td>
                    @contact.Cel
                </td>
                <td>
                    <input type="hidden" value="@contact.Id" class="ids" />
                    <a class="btn" asp-action="Modify" asp-route-id="@contact.Id"> <img src="../../img/modi.png" width="26" height="26" /></a>
                    <a class="btn" asp-action="Delete" asp-route-id="@contact.Id"> <img src="../../img/delete.png" width="26" height="26" /></a>
                </td>


            </tr>
        }
    </tbody>
</table>